* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #080808 0%, #000000 100%); */
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* .App{
  background-color: rgb(145, 62, 62);
  min-height: 500px;
  width: 700px;
  margin: 40px auto;
} */

.dateTime{
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  font-size: 1.2rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #2e6815;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #2e6815;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn, 
.delete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.edit-btn {
  background: goldenrod;
}

.delete-btn{  
  background: rgb(73, 3, 3);
}

.delete-btn:hover{
  background: red;
}

.trash-btn{
  background: rgb(73, 3, 3);
}

.trash-btn:hover{
  background: red;
}

.complete-btn {
  background: #17350a;
}

.complete-btn:hover {
  background: #2e6815;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.fa-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #2d302c;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  cursor: pointer;
  width: 12rem;
  font-weight: bold;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #242121;
  cursor: pointer;
  pointer-events: none;
}

.select::after::hover{
  background: #4e3d3d;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
